<!DOCTYPE html>
<html lang="en" ng-app="app" ng-strict-di>
<head>
    <meta charset="utf-8">
    
    <title>AFS - Diego</title>
    
    <!--Import Google Icon Font, let the browser decide whether http or htpps-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import Styles-->
    <link type="text/css" rel="stylesheet" href="~/css/afsdiego.css" media="screen,projection" />
</head>
<body>
    <div class="navbar-fixed">
        <nav class="indigo z-depth-2">
            <div class="nav-wrapper">
                <a href="~/" class="brand-logo"><span class="white-text"> AFS - Diego</span></a>
                <a href="#" data-activates="afsdiego-mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="~/#sample">Sample</a></li>
                </ul>
                <ul class="side-nav indigo lighten-1 z-depth-2" id="afsdiego-mobile-nav">
                    <li><a class="white-text" href="~/#sample">Sample</a></li>
                </ul>
            </div>
        </nav>
    </div>
    @RenderBody()
    <footer class="indigo center-align">
        <br />
        <a class="white-text" href="/">&copy; AFS @DateTime.UtcNow.Year</a>
        <br /><br />
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/dist/js/materialize.min.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/lodash/dist/lodash.min.js"></script>
    <script src="~/lib/restangular/dist/restangular.min.js"></script>
    <script src="~/js/afsdiego.js"></script>

    <!-- these javascript files should be injected here dynamically (i.e: wiredep) -->
    <script src="~/app/app.core.module.js"></script>
    <script src="~/app/app.module.js"></script>
    <script src="~/app/services/services.module.js"></script>
    <script src="~/app/app.restangular.config.js"></script>
    <script src="~/app/services/apirequests.restangular.js"></script>
    <script src="~/app/services/apirequests.service.js"></script>
    <script src="~/app/models/apirequest.model.js"></script>
    <script src="~/app/apirequests/apirequests.module.js"></script>
    <script src="~/app/app.run.js"></script>
    <script src="~/app/apirequests/apirequests.controller.js"></script>
</body>
</html>
