<div>
    <div class="section blue" id="index-banner">
        <div class="container">
            <h1 class="center white-text">AFS - Diego</h1>
            <div class="row center">
                <h5 class="header col s12 white-text light">Sample web application</h5>
                <p class="white-text">This application has been implemented using SPA + REST approach with ASP.NET Core, ASP.NET MVC, Entity Framework Core, AutoMapper, AngularJs, Typescript, Materialize, NuGet, Npm, Gulp, etc.</p>
                <p class="white-text">
                    More info at the
                    <a class="white-text" href="https://github.com/iberodev/Afs" target="_blank">public repository</a>
                </p>
            </div>
            <div class="row center">
                <a href="#sample" id="download-button" class="btn btn-large waves-effect waves-light indigo white-text">Sample</a>
            </div>
        </div>
    </div>
</div>

<a class="anchor" id="sample"></a>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m12">

            </div>
        </div>
    </div>
</div>

<div ng-controller="app.apirequests.ApiRequestsController as apiRequest">
    <div class="section">
        <h2>Encode/Decode</h2>
        <div class="row">
            <div class="col m6 s12 z-depth-1">
                <div class="container">
                    <form method="post" ng-submit="apiRequest.encode()">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">comment</i>
                                <input placeholder="enter text to encode" required ng-model="apiRequest.textToEncode" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" name="btn_login" class="col s4 offset-s8 btn btn-large waves-effect pink">Encode <i class="material-icons right">send</i></button>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <span>Encoded Text: <b class="green-text darken-3">{{apiRequest.textEncoded}}</b></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col m6 s12 z-depth-1">
                <div class="container">
                    <form method="post" ng-submit="apiRequest.decode()">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">comment</i>
                                <input placeholder="enter text to decode" required ng-model="apiRequest.textToDecode" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" name="btn_login" class="col s4 offset-s8 btn btn-large waves-effect pink">Decode <i class="material-icons right">send</i></button>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <span>Decoded Text: <b class="green-text darken-3">{{apiRequest.textDecoded}}</b></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="section">
        <h2>History of Requests</h2>
        <div class="row" ng-repeat="historyRequest in apiRequest.historyRequests">
            <div class="col s12">
                <hr />
                <ul>
                    <li>ID: {{historyRequest.id}}</li>
                    <li>Request Start Time: {{historyRequest.requestBeginTime | date:'dd MMM yyyy HH:mm'}}</li>
                    <li>Request End Time: {{historyRequest.requestEndTime | date:'dd MMM yyyy HH:mm'}}</li>
                    <li>Method: {{historyRequest.httpMethodText}}</li>
                    <li>Url: {{historyRequest.requestUrl}}</li>
                    <li>Response Code: {{historyRequest.responseCode}}</li>
                    <li>Request Type: {{historyRequest.apiRequestTypeText}}</li>
                    <li>Result: <b>{{historyRequest.responseText}}</b></li>
                    <li ng-show="historyRequest.error" class="red-text">Error: {{historyRequest.error}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- floating repository view -->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn btn-floating btn-large pink z-depth-3"
       href="https://github.com/iberodev/Afs" target="_blank"><i class="large material-icons">pageview</i></a>
</div>